// theme
$white: #fff;
$black: #000;

$primary-color: #ff6433;
$seconary-color: $white;

$info-color: #004aef;
$success-color: #05c98c;
$warning-color: #fce544;
$danger-color: #d3135d;

$primary-background-color: #202224;
$secondary-background-color: black;

$box-shadow-color: #ccc;

$button-secondary-color: #a82600;
